<div class="container">
  <div class="side-nav" *ngIf="state !== 'loading' && state !== 'result'">
    <div class="btn-container">
      <button (click)="router.navigateByUrl('/company-profile')">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.85714 16.0007L13.5238 22.6673M24 16.0007H6.85714H24ZM6.85714 16.0007L13.5238 9.33398L6.85714 16.0007Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        &nbsp; Go back
      </button>
    </div>
  </div>
  <div class="forgot-pass-body" *ngIf="state === 'forgotPass'">
    <p class="title">Forgot password</p>
    <p class="sub-title">Enter an email that linked to your account. <br> We will send you the code.</p>
    <form [formGroup]="emailForm">
      <mat-form-field appearance="none" class="add-border">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </form>
    <button class="btn-next"
            [disabled]="emailForm.invalid"
            [ngClass]="{'enable-btn-next': emailForm.valid}"
            (click)="onNext()">Next</button>
  </div>
  <div class="verify-email-body" *ngIf="state === 'verifyEmail'">
    <p class="title">Verify email</p>
    <p class="sub-title">We’ve send to kurmashev@gmail.com a <br> confirmation code. Check your inbox.</p>
    <form class="input-container" [formGroup]="verifyPassForm">
      <input class="input-code"
             maxlength="1"
             oninput="this.value=this.value.replace(/[^0-9]/g,'');"
             formControlName="first">
      <input class="input-code"
             maxlength="1"
             oninput="this.value=this.value.replace(/[^0-9]/g,'');"
             formControlName="second">
      <input class="input-code"
             maxlength="1"
             oninput="this.value=this.value.replace(/[^0-9]/g,'');"
             formControlName="third">
      <input class="input-code"
             maxlength="1"
             oninput="this.value=this.value.replace(/[^0-9]/g,'');"
             formControlName="fourth">
    </form>
    <p class="info spacing">Didn’t recieve code? <a class="link"> Send again</a></p>
    <button type="submit" [disabled]="verifyPassForm.invalid"
            [ngClass]="{'btn-verify-enabled': verifyPassForm.valid}"
            class="btn btn-verify"
            (click)="onVerify()">Verify</button>
  </div>
  <div class="new-pass-body" *ngIf="state === 'newPassword'">
    <p class="title">Enter new password</p>
    <form [formGroup]="newPassForm"
          class="form-container">
      <mat-form-field appearance="none" class="add-border add-spacing">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New password"
               [type]="hideNewPassword ? 'password' : 'text'"
               formControlName="newPassword">
        <button mat-icon-button matSuffix
                (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="none" class="add-border">
        <mat-label>Repeat Password</mat-label>
        <input matInput placeholder="Repeat password"
               [type]="hideRepeatPassword ? 'password' : 'text'"
               formControlName="repeatPassword">
        <button mat-icon-button matSuffix
                (click)="hideRepeatPassword = !hideRepeatPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideRepeatPassword">
          <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <span class="pass-hint" *ngIf="!isMatchPassword">Passwords don’t match</span>
    </form>
    <button type="submit"
            [disabled]="newPassForm.invalid"
            [ngClass]="{'btn-change-enabled': newPassForm.valid}"
            class="btn btn-change"
            (click)="onChangePass()">Change password</button>
  </div>
  <div class="loading-body" *ngIf="state === 'loading'">
    <mat-spinner></mat-spinner>
  </div>
  <div class="result-body" *ngIf="state === 'result'">
    <img src="assets/images/ic_tick.png">
    <p class="sub-title">Password changed</p>
    <a routerLink="/company-profile">Go to Profile</a>
  </div>
</div>
