.container {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .side-nav {
    width: 245px;
    border-right: 1px solid #DDDDDD;

    button {
      margin-top: 38px;
      margin-left: 38px;
      width: auto;
      height: 20px;
      border: none;
      background: none;
      font-size: 20px;
      color: #272727;
      display: flex;
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .forgot-pass-body {
    padding: 0 2rem;
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      color: var(--black-color);
      margin-top: 32px;
    }
    .sub-title {
      margin-top: 40px;
      font-size: 16px;
      color: #999999;
      margin-bottom: 24px;
    }
    .btn-next {
      width: 77px;
      height: 48px;
      background: #F4F4F4;
      border-radius: 16px;
      font-weight: 600;
      font-size: 16px;
      color: #999999;
      border: none;
      margin-top: 30px;
      cursor: pointer;
    }
    .enable-btn-next {
      background: #5C00D0;
      border-radius: 16px;
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
    }
  }

  .verify-email-body {
    padding: 0 2rem;
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      color: var(--black-color);
      margin-top: 32px;
    }
    .sub-title {
      margin-top: 40px;
      font-size: 16px;
      color: #999999;
      margin-bottom: 24px;
    }
    .input-container {
      display: flex;
      flex-direction: row;
      width: 75%;
      justify-content: flex-start;
      margin-bottom: 30px;
      .spacing {
        margin-bottom: 12px;
        margin-top: 10px;
      }
      .input-code {
        background: #F4F4F4;
        border-radius: 4px;
        width: 40px;
        height: 50px;
        margin-right: 10px;
        border: none;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #000000;
      }
    }
    .btn-verify {
      width: 87px;
      height: 48px;
      margin-top: 30px;
      cursor: pointer;
      background: #F4F4F4;
      color: #999999;
    }
    .btn-verify-enabled {
      background: #5C00D0;
      color: #FFFFFF;
    }
  }

  .new-pass-body {
    padding: 0 2rem;
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      color: var(--black-color);
      margin-top: 32px;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      .add-spacing {
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }
    .btn-change {
      width: 181px;
      height: 48px;
      background: #F4F4F4;
      border-radius: 16px;
      font-weight: 600;
      font-size: 16px;
      color: #999999;
      cursor: pointer;
      border: none;
      margin-top: 35px;
    }
    .btn-change-enabled {
      background: #5C00D0;
      color: #FFFFFF;
    }
  }
  .loading-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .result-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sub-title {
      margin-top: 20px;
      font-size: 16px;
      color: #272727;
    }
  }
  .pass-hint {
    color: var(--red-color);
    margin-top: 24px;
  }
}
