<div class="container flex-container">
  <button class="btn-arrow btn-spacing" (click)="router.navigateByUrl('/auth/login')">
    <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.14286 6L6.14286 11M14 6H1.14286H14ZM1.14286 6L6.14286 1L1.14286 6Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg> &nbsp; Back</button>
  <h1 class="title">Forgot password</h1>
  <p class="info">
    Enter an email that linked to your account. We will send you the code.
  </p>
  <form class="form-container" [formGroup]="forgotPasswordForm">
    <mat-form-field appearance="none" class="add-border spacing">
      <mat-label>Company email</mat-label>
      <input matInput placeholder="pat@example.com"
             formControlName="email">
      <mat-error *ngIf="forgotPasswordForm.get('email').invalid">Invalid email. Try again.</mat-error>
    </mat-form-field>
  </form>
  <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-next" (click)="moveTo()">Next</button>
</div>
