<div class="container">
  <p class="title">Reviews</p>
  <p class="subtitle">Rating</p>
  <div class="rating-body">
    <div class="rating-title">
      <p class="big">5.0</p>
      <p class="small">out of 5</p>
    </div>
    <div class="rating-progress">
      <div class="star-body">
        <div>
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
        </div>
        <div>
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
        </div>
        <div>
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
        </div>
        <div>
          <img src="assets/images/star.png">
          <img src="assets/images/star.png">
        </div>
        <div>
          <img src="assets/images/star.png">
        </div>
      </div>
      <div class="rating-body">
        <div class="first-hr"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <p class="subtitle">Reviews (1)</p>
  <div class="reviews-body">
    <div class="reviews">
      <div class="review-item">
        <p>Amesome providers!</p>
        <div class="review-star">
          <img src="assets/images/star-fill.png">
          <img src="assets/images/star-fill.png">
          <img src="assets/images/star-fill.png">
          <img src="assets/images/star-fill.png">
          <img src="assets/images/star-fill.png">
        </div>
        <div class="review-user">
          <p>Almat Kurmashev</p>
          <p>Today, 12:36</p>
        </div>
      </div>
    </div>
  </div>
</div>

