<div class="container" *ngIf="!loading">
  <button class="btn-arrow btn-spacing" (click)="router.navigateByUrl('/auth/verify-email')">
    <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.14286 6L6.14286 11M14 6H1.14286H14ZM1.14286 6L6.14286 1L1.14286 6Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg> &nbsp; Back</button>
  <h1 class="title">Enter your EIN</h1>
  <p class="info">
    The US Government requires your EIN in order to open an investment account.
  </p>
  <mat-form-field appearance="none" class="add-border spacing">
    <mat-label>EIN</mat-label>
    <input matInput placeholder="EIN" mask="000-00-000" [(ngModel)]="ein">
  </mat-form-field>
  <p class="sub-info">All your information is protected.</p>
  <button type="submit" [disabled]="ein === ''" class="btn btn-next" (click)="onSignUp()">Sign up</button>
</div>
<div class="container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
