.header {
  width: 100%;
  height: 40%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  div {
    display: inline-grid;
    .logo-logo {
      width: 17px;
      height: 9px;
      margin-left: 7px;
    }
    .logo {
      width: 110px;
      height: 31px;
    }
  }
}
.content-body {
  width: 100vw;
  //height: 100vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  textarea {
    margin-top: 30px;
    width: 352px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #272727;
    font-family: SF Pro Text;
    padding: 10px;
  }
  .form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .spacing {
      margin-bottom: 12px;
    }
    .special-offer {
      width: 353px;
      height: 74px;
      background: #F9F5FF;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      p {
        margin-left: 15px;
        width: auto;
        height: auto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #272727;
      }
      .offer-link {
        color: var(--main-color);
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        cursor: pointer;
      }
    }
    .height-offer {
      height: 90px;
    }
    input {
      color: #272727;
      margin-left: 10px;
    }
  }
  .total-return {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 35px;
    width: 35vw;
    .details {
      color: var(--main-color);
    }
    p {
      width: auto;
      height: auto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #272727;
      cursor: pointer;
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: var(--main-color);
        img {
          height: 16px;
          width: 16px;
        }
      }
    }
    .amount {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #000000;
    }
  }
  .detail-return {
    .detail-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 340px;
      p {
        font-size: 16px;
        line-height: 16px;
        color: #999999;
      }
    }
  }
  .btn-container {
    height: 50px;
    width: 352px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    .btn-later {
      border: none;
      background: none;
      font-size: 16px;
      line-height: 16px;
      cursor: pointer;
    }
    .btn-next {
      width: 95px;
      height: 48px;
      font-size: 16px;
      line-height: 16px;
      color: var(--gray-color);
      background: #F4F4F4;
      border-radius: 16px;
      border: none;
      cursor: pointer;
    }
    .enabled-btn-next {
      background: #5C00D0;
      border-radius: 16px;
      color: var(--white-color);
    }
  }
  .pdf-container {
    width: 466px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    border-radius: 8px;
    .pdf-body {
      .pdf-item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 20px;
        div {
          display: flex;
          width: 100%;
          .img-pdf {
            width: 15px;
            height: 18px;
            margin-right: 11px;
          }
          p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #000000;
            margin-bottom: 0;
            width: 220px;
            span {
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 13px;
              color: #999999;
            }
          }
          .mat-progress-bar {
            width: 30%;
            margin-top: 5px;
            margin-left: 20px;
          }
        }
        .img-cancel {
          width: 20px;
          height: 20px;
          margin-right: 0;
        }
      }
    }
  }
  .input-file-body {
    width: 466px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F9F9F9;
    border-radius: 8px;
    position: relative;
    border: 1px dashed gray;
    cursor: pointer;
    text-align: center;
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #272727;
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #686868;
      cursor: pointer;
    }
    input {
      opacity: 0.0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -moz-opacity: 0.0;
      -khtml-opacity: 0.0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height:100%;
    }
  }
}
