<div class="container flex-container" *ngIf="!loading">
  <h1 class="title">Log in</h1>
  <p class="register">
    New user?
    <a class="link"
       routerLink="/auth/register">Sign up</a>
  </p>
  <form class="form-container" [formGroup]="loginForm">
    <mat-form-field appearance="none" class="add-border spacing">
      <mat-label>Company email</mat-label>
      <input matInput placeholder="pat@example.com"
             formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="none" class="add-border">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password"
             [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <p class="forgot-pass" (click)="goTo()">Forgot password?</p>
  <ng-container *ngIf="loginForm.get('email').touched || loginForm.get('password').touched">
    <mat-error *ngIf="loginForm.get('email').invalid || loginForm.get('password').invalid">Invalid email or password. Try again.</mat-error>
  </ng-container>
  <button type="submit" class="btn btn-login" [disabled]="loginForm.invalid" (click)="submit()">Log in</button>
</div>
<div class="container flex-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
