<div class="container flex-container">
  <button class="btn-arrow btn-spacing" (click)="router.navigateByUrl('/forgot-password')">
    <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.14286 6L6.14286 11M14 6H1.14286H14ZM1.14286 6L6.14286 1L1.14286 6Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg> &nbsp; Back</button>
  <h1 class="title">New Password</h1>
  <form class="form-container" [formGroup]="newPassForm">
    <mat-form-field appearance="none" class="add-border">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="first" [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="none" class="add-border">
      <mat-label>Repeat Password</mat-label>
      <input matInput placeholder="Repeat Password" formControlName="second" [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <button type="submit" [disabled]="newPassForm.invalid" class="btn btn-next" (click)="moveTo()">Next</button>
</div>

