<div class="container">
  <p class="title">Invests</p>
  <p class="info-title">Information of investments in your offers</p>
  <button class="btn-toggle" (click)="onToggle()">
    Offer – $8 500, 90 days
    <svg [@rotatedState]='state' width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 8.5L8 1.5L15 8.5" stroke="#5C00D0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
  <table class="invest-table" *ngIf="showDetails">
    <thead>
    <tr>
      <th>Investor</th>
      <th>Invested amount</th>
      <th>Investor benefit(%)</th>
      <th>Investor benefit ($)</th>
      <th>Days left</th>
      <th>Date of return</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of invests">
      <td>{{item.name}}</td>
      <td>${{item.amount | mask: 'separator2.'}}</td>
      <td>{{item.benefit}}</td>
      <td>${{item.benefitSum | mask: 'separator2.'}}</td>
      <td>{{item.days}}</td>
      <td>{{item.date}}</td>
      <td><button class="btn-return" (click)="onReturn()">Return</button></td>
    </tr>
    </tbody>
  </table>
</div>
