.container {
  background-color: white;
  height: 100vh;
  padding: 0 2rem;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: var(--black-color);
    margin-top: 32px;
  }
  .info-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2C2C2C;
    margin-top: 50px;
  }
  .balance-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    .balance-content {
      width: 258px;
      height: 136px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .sub-p {
        height: auto;
        width: auto;
        font-family: Quicksand;
        font-style: normal;
        font-size: 20px;
        line-height: 28px;
        margin-left: 10px;
        color:rgba(0, 0, 0, 0.87);
      }
      .custom-p {
        height: auto;
        width: auto;
        font-size: 48px;
        line-height: 56px;
        font-family: 'Roboto', sans-serif;
      }
    }
    .my-balance {
      background: #FCF9FF;
      .balance {
        color: var(--main-color);
        margin-left: 10px;
      }
    }
    .total-debt {
      background: #FFF9FD;
      .debt {
        color: #D50180;
        margin-left: 10px;
      }
    }
    .total-payments {
      background-color: #FFF9F4;
      .payment {
        color: #DF6D03;
        margin-left: 10px;
      }
    }
    .loans {
      background-color: #F5F9FF;
      .loan {
        color: #2269CE;
        margin-left: 10px;
      }
    }
  }
  .table-info-title {
    margin-top: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }
  .invest-table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0px;
    border-collapse: collapse;
    tr {
      th {
        font-family: Quicksand;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #919699;
        text-align: left;
        border-bottom: 2px solid #E3E5E6;
        text-align: right;
      }
      th:nth-child(1) {
        text-align: left;
      }
      td {
        color: rgba(0, 0, 0, 0.87);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        border-bottom: 2px solid #E3E5E6;
        margin-top: 24px;
        margin-bottom: 24px;
        text-align: right;
        .btn-return {
          width: 68px;
          height: 36px;
          background: #F9F5FF;
          border-radius: 8px;
          border: none;
          color: var(--main-color);
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
          cursor: pointer;
          margin-bottom: 20px;
        }
      }
      td:nth-child(1) {
        text-align: left;
      }
      td:nth-child(2) {
        color: #5E6366;
      }
      td:nth-child(7) {
        display: flex;
        justify-content: center;
        margin-bottom: -1px;
      }
    }
  }
}
